<!DOCTYPE html>
<html>

<head>
    <title>Thailand BL Tracker</title>

    <style>

        body {
            font-family: Arial;
            background: #f7f7f7;
        }

        div {
            background: white;
            border-radius: 10px;
        }

    </style>

</head>

<body>

<a href="/">⬅ Back</a>

<h1>Event Details</h1>

<hr>

<h2>{{ event[7] }}</h2>

<p><b>Actors:</b> {{ event[3] }}</p>

<p><b>Date:</b> {{ event[4] }}</p>

<p><b>Location:</b> {{ event[5] }}</p>

<p><b>Ticket:</b> {{ event[6] }}</p>

<p><b>Summary:</b> {{ event[7] }}</p>

<p><b>Source:</b> {{ event[8] }}</p>

</body>
</html>